<div class="main-content">
    <!-- Liste des posts -->
    <div class="posts-section">
        <div *ngFor="let post of posts" class="post-card">
            <div class="post-header">
                <span class="post-author">{{ post.author }}</span>
                <span class="post-timestamp">{{ post.timestamp }}</span>
            </div>
            <p class="post-content">{{ post.content }}</p>
            <div class="post-actions">
                <button class="action-button">❤️ {{ post.likes || 0 }}</button>
                <button class="action-button">💬 {{ post.comments || 0 }}</button>
            </div>
        </div>
    </div>

    <!-- Suggestions de groupes -->
    <div class="groups-sidebar">
      <input 
        type="text" 
        class="searchBar" 
        placeholder="Rechercher une personne" 
        [(ngModel)]="searchQuery" 
        (input)="onSearchChange()"
      >
        <h2 class="groups-title">Vos groupes</h2>
        <div *ngIf="filteredGroups.length > 0; else noResults">
            <div *ngFor="let group of filteredGroups" (click)="redirectToGroup(group.id_group)" class="group-item">
                <img [src]="group.image" class="group-image" alt="{{ group.name }}">
                <div>
                    <h3 class="group-name">{{ group.name }}</h3>
                    <p class="group-activity">{{ group.lastActivity }}</p>
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <p class="no-results">Aucun groupe trouvé.</p>
        </ng-template>

        <!-- Bouton pour créer un nouveau groupe -->
         <button class="create-group-button" (click)="redirectToCreate()">Créer un nouveau groupe</button>
    </div>
</div>