<div *ngIf="!isLoading && user" class="profile-container">
  <img
    *ngIf="user.logo"
    [src]="'profiles/' + user.logo"
    alt="Photo de profil"
    class="profile-picture"
  />
  <img
    *ngIf="!user.logo"
    src="https://png.pngtree.com/png-vector/20240601/ourmid/pngtree-casual-man-flat-design-avatar-profile-picture-vector-png-image_12593008.png"
    alt="Photo de profil par défaut"
    class="profile-picture"
  />

  <div *ngIf="!editMode">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Nom d'utilisateur : {{ user.username }}</h3>
    <h3>Bio : {{ user.bio || 'Non renseignée' }}</h3>
    <h3>Email : {{ user.email }}</h3>
    <h3>Date de naissance : {{ user.birthday }}</h3>
  </div>

  <div *ngIf="editMode">
    <input [(ngModel)]="updatedUser.first_name" placeholder="Prénom" />
    <input [(ngModel)]="updatedUser.last_name" placeholder="Nom" />
    <input [(ngModel)]="updatedUser.username" placeholder="Nom d'utilisateur" />
    <input [(ngModel)]="updatedUser.bio" placeholder="Bio" />
    <input [(ngModel)]="updatedUser.email" placeholder="Email" />
    <input [(ngModel)]="updatedUser.birthday" type="date" placeholder="Date de naissance" />
    <button (click)="editMode = false">Annuler</button>
    <button (click)="submitUserEdit()">Enregistrer</button>
  </div>

  <div class="profile-actions">
    <button (click)="toggleEditMode()">Modifier Mes Informations</button>
    <button (click)="togglePasswordMode()">Changer Mot De Passe</button>
  </div>

  <div *ngIf="successMessage" class="alert success-alert">
    {{ successMessage }}
  </div>

  <div *ngIf="changePasswordMode" class="password-form">
    <input [(ngModel)]="passwordData.current_password" type="password" placeholder="Ancien mot de passe" />
    <input [(ngModel)]="passwordData.new_password" type="password" placeholder="Nouveau mot de passe" />
    <input [(ngModel)]="passwordData.new_password_confirmation" type="password" placeholder="Confirmer nouveau mot de passe" />
    
    <div *ngIf="errorMessage" class="alert error-alert">
      {{ errorMessage }}
    </div>

    <button (click)="changePasswordMode = false">Annuler</button>
    <button class="save-button" (click)="submitPasswordChange()">Valider</button>
  </div>
</div>