<div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div>
        <p>Chargement des informations...</p>
    </div>
  
  <div *ngIf="!isLoading &&!user" class="error-container">
    <p>
      Veuillez vous authentifier afin d'accéder à cette page. <a [routerLink]="['/login']" routerLinkActive="link-active">Se Connecter</a> <br>
      Nouveau sur NoComment ? <a [routerLink]="['/register']" routerLinkActive="link-active">S'inscrire</a>
    </p>
  </div>

  <div *ngIf="!isLoading && user" class="profile-container">
  <img
    *ngIf="user.logo"
    [src]="'assets/images/profiles/' + user.logo"
    alt="Photo de profil"
    class="profile-picture"
  />
  <img
    *ngIf="!user.logo"
    src="https://png.pngtree.com/png-vector/20240601/ourmid/pngtree-casual-man-flat-design-avatar-profile-picture-vector-png-image_12593008.png"
    alt="Photo de profil par défaut"
    class="profile-picture"
  />

  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
  <p *ngIf="user.bio"><strong>Bio :</strong> {{ user.bio }}</p>
  <p *ngIf="!user.bio"><strong>Bio :</strong> Non renseignée</p>
  <p><strong>Email :</strong> {{ user.email }}</p>
  <p><strong>Date de naissance :</strong> {{ user.birthday }}</p>

  <div class="profile-actions">
    <button>Modifier Mon Compte</button>
    <button>Changer Mot De Passe</button>
  </div>
</div>
  